@font-face {
  font-family: 'A1Einfach-Fett';
  src: url('A1Einfach-Fett.eot');
  src: url('A1Einfach-Fett.eot?#iefix') format('embedded-opentype'),
       url('A1Einfach-Fett.svg#A1Einfach-Fett') format('svg'),
       url('A1Einfach-Fett.ttf') format('truetype'),
       url('A1Einfach-Fett.woff') format('woff'),
       url('A1Einfach-Fett.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

