@font-face {
  font-family: 'A1Einfach-Fett';
  src: url('../fonts/A1Einfach-Fett.eot');
  src: url('../fonts/A1Einfach-Fett.eot?#iefix') format('embedded-opentype'),
    url('../fonts/A1Einfach-Fett.svg#A1Einfach-Fett') format('svg'),
    url('../fonts/A1Einfach-Fett.ttf') format('truetype'),
    url('../fonts/A1Einfach-Fett.woff') format('woff'),
    url('../fonts/A1Einfach-Fett.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  color: white;
  background-color: #161719;
  overflow: hidden;
  font-family: A1Einfach-Fett;
}

.header {
  font-family: A1Einfach-Fett;
  font-size: 20px;
  text-align: center;
}

.BlueTeam {
  font-size: 35px;
  text-align: left;
}

.RedTeam {
  font-size: 35px;
  text-align: right;
}

.bottomBorder {
  border-bottom: 1px solid gray;
  padding: 5px;
}

.Blue {
  text-align: left;
  font-size: 30px;
}

.Red {
  text-align: right;
  font-size: 30px;
}

.banImage {
  width: 35px;
}

.drakeImage {
  width: 25px;
}